#fondo{
	background-image: url(https://th.bing.com/th/id/R.9fc60e2f5c605866d31520b562de48c7?rik=Uby6uR2bGjoBWw&pid=ImgRaw&r=0);
    background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  height: 100vh;
}